@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
@keyframes scale {
  from, to {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
html {
  background-color: #0B3D3D;
  width: 100%;
  height: 100%;
  cursor: wait;
}
h1 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}
h1 > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}
h1 > .magic > .magic-star > svg > path {
  fill: rgb(123, 31, 162);
}
h1 > .magic {
  display: inline-block;
  position: relative;
}
.magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
    rgb(123, 31, 162),
    rgb(103, 58, 183),
    rgb(244, 143, 177),
    rgb(123, 31, 162));
  background-size: 200%;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
head {

}
header {
  text-align: center;
}
form {

}
main {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-family: Sans;
}
body {
  background-color: #0B3D3D;
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 32px;
  padding: 10px 0;
  margin: 0;
}
.chat {
  width: 99%;
  height: calc(100vh-165px);
  content: '';
  background-color: #FAAFBA;
  opacity: 0.7;
  border-radius: 10px;
  padding: 10px;
}
.chat p {
  margin: 0 0 5px 0;
}
input {
  background-color: #FAAFBA;
  opacity: 0.7;
  color: black;
  border: none;
  padding: 5px 10px;
  width: calc(100%-200px);
  border-radius: 10px;
  font-family: Sans;
  font-size: 14px;
  margin-top: 10px;
}
input:hover {
  opacity: 1;
}
button {
  background-color: #FAAFBA;
  opacity: 0.7;
  border: none;
  padding: 5px 10px;
  width: 100%;
  border-radius: 10px;
  font-family: Sans;
  font-size: 14px;
  margin-top: 10px;
}
button:hover {
  background-color: #ffc1cc;
  cursor: grab;
  opacity: 1;
}
@media all and (min-width: 500px) {
  input {
    width: calc(99% - 160px);
  }
  .chat {
    height: calc(100vh - 140px);
  }
  button {
    width: 150px;
    margin-right: 15px;
    float: right;
  }
}
* {
  box-sizing: border-box;
  transition: all .3s ease;
}
#server-input-spot {
  max-width: 30%;
  max-height: 499px;
  display: grid;
  margin: auto;
}
label {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
    rgb(123, 31, 162),
    rgb(103, 58, 183),
    rgb(244, 143, 177),
    rgb(123, 31, 162));
  background-size: 200%;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}